$lab-grotesque-included: false !default;

@mixin tds-font-face-lab-grotesque {
  @if not $lab-grotesque-included {
    $lab-grotesque-included: true !global;
    @at-root {
      @font-face {
        font-family: 'Lab Grotesque';
        src:
          url('/assets/fonts/LabGrotesqueRegularWeb/LabGrotesque-Regular.woff2')
            format('woff2'),
          url('/assets/fonts/LabGrotesqueRegularWeb/LabGrotesque-Regular.woff')
            format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: fallback;
      }
    }
  }
}