@use '../helpers' as h;
@use '../components/button' as b;
@use '../tools/' as t;
@use './input/' as input;
@use './error-message/' as error-message;

.tds-password-toggle-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.tds-password-toggle-icon svg.eye-crossed {
  transform: translate3d(0.0625rem, 0.125rem, 0);
}

.tds-input__wrapper {
  display: flex;
  position: relative;

  .tds-password-input__wrapper {
    @include h.tds-media-query($from: mobile) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &.tds-input {
    flex: 0 1 auto;
  }
}

.tds-error-message {
  @include error-message.tds-error-message;
}


.tds-password-input__input {
  border-color: inherit !important;
}

.tds-password-toggle-icon-wrapper {
  position: relative;
  border-color: inherit;
  left: -0.125rem;
}

.tds-password-toggle-icon {
  border-radius: 0 .25rem .25rem 0;
  background: var(--color-surface-default);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
  border-width: .125rem;

  &:focus {
    border-radius: .25rem;
  }

  &:hover {
    border-radius: 0 .25rem .25rem 0;
  }
}

.tds-input-password {
  @include input.tds-input;

  border-radius: 0.25rem 0 0 0.25rem;

  &:focus {
    border-color: var(--color-border-focus-default) !important;
    border-radius: .25rem;
  }

  &--error {
    &:focus {
      border-color: var(--color-border-feedback-negative) !important;
      box-shadow: 0 0 0 .0625rem var(--color-border-feedback-negative) inset;}
  }
}


.tds-visually-hidden {
  @include h.tds-visually-hidden;
}
