.root {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  & > * {
    flex: 1;
    border-radius: 4px;
    // border: 2px solid var(--Semantic-border-subtle, #dcdfe0);
  }
}

.twoRows {
  flex-direction: column;
  border-radius: 4px;
  border: 2px solid var(--Semantic-border-subtle, #dcdfe0);

  & > * {
    margin-bottom: 0px;
    border: none;
  }
}

.twoColumns {
  flex-wrap: wrap;

  & > * {
    flex: 1 0 48%;
    margin-bottom: 0px;
    border: 2px solid var(--Semantic-border-subtle, #dcdfe0);
  }

  margin-bottom: 1em;
}
