.fullWidthContainer {
  width: 100%;
  padding: 5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}
